<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://aroundmyroom.com/velvet-tv"
        version="__VELVET_TV_VERSION__">

  <tizen:application id="VelvetTV00.VelvetTV"
                     package="VelvetTV00"
                     required_version="5.5"/>

  <name>Velvet TV</name>
  <icon src="icon.png"/>
  <content src="index.html"/>

  <!-- Network access required to reach the Velvet server -->
  <feature name="http://tizen.org/feature/network.internet"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>

  <!-- Keep the screen awake during playback / visualizer -->
  <tizen:privilege name="http://tizen.org/privilege/power"/>

  <!-- Remote media keys (Play/Pause/FF/Rewind) -->
  <tizen:privilege name="http://tizen.org/privilege/mediakey"/>

  <!-- Allow connections to any origin (the user's Velvet server) -->
  <access origin="*" subdomains="true"/>

  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 encryption="disable"
                 install-location="auto"/>

</widget>
